.hero-wrapper{
    margin-top:20%;
}
.text{  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #333333;
}
.red-text{
    color:#f36565;
}
.subtext{
     margin:2% 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px; 
    color: #999999;
}
.bike{
    width: 90%;
}
.customers{
    margin: 10% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .2;
}
