body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
}
.dark-theme {
  background-color: #333333;
  color: #FFFFFF;
}
.dark-theme .navigation{
  background-color: #333333;
}
.dark-theme .email{
  color: #FFFFFF;
}
.dark-theme .phone{
  color: #FFFFFF;
}
.dark-theme p{
  color: #FFFFFF;
}
.dark-theme .text-logo{
  color: #FFFFFF;
}
.dark-theme .customers{
 filter:invert(1)
}
.light-theme {
  background-color: #fff;
}
.switch{
  width: 5rem;
  border: 0px solid transparent;
  background-color: transparent;
  margin-bottom: 5rem;
}
.switch img{
  width:2rem;
}